<div class="col-8 offset-1">
  <h1 class ="about-wisdoms"><u><b>About Wisdoms</u></b></h1>
    <br />
    
    <p class ="about-blurb"><b>BootCamp Wisdoms was created to showcase some of the Jewels I've picked up on this bootcamp journey, thus far. It only illustrates a small bit of the knowledge gained, but I felt like these were the core pieces. It was created by me, Keara Harris, a current bootcamp student and future web-developer, and hopefully will be added onto as my knowledge progresses.</b></p>

</div>

