<% @wisdoms.each do |wisdom| %>

    <div>
        <br />
        
        <h1> <u><b> Jewels picked up: </u></b> </h2>
       
        <br />
        
        <h2> <%= wisdom.learnedwisdoms %></h2>
        
        <br />
  </div>
  
</hr>

<% end %>
